apiVersion: networking.k8s.io/v1
metadata:
  name: app-ingress
  namespace: three-tier
  # REMOVE rewrite annotation
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend-service
            port:
              number: 3001
